<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= editProduct.name %> </title>
</head>
<body>
    <h1>Enter New Product</h1>
    <form method="post" action="/products/<%=editProduct._id%>?_method=PUT">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="<%= editProduct.name %>">
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" value="<%= editProduct.price %>">
        <label for="category">Category:</label>
        <select name="category" id="category">
            <option value="fruit">Fruit</option>
            <option value="vegetable">Vegetable</option>
            <option value="dairy">Dairy</option>
        </select>
        <button>
            Submit
        </button>
    </form>
    <a href="/products/<%= editProduct._id %>">cancel</a>
</body>
</html>